nav ul {
            
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(102, 56, 209);
    display: flex;
    justify-content: space-between;
    
  }
  
 nav ul li {
    float: left;
  
  }
  
  li a {
    display:flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
        background-color: #111;
     }
.active {
        background-color: #04AA6D;
    }
.container{

    width: 50%;
    height: 70%;
    border: 5px solid purple;
    padding: 30px;
    margin: auto;
    margin-top: 3%;
}    
.container1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:100%;
}

.container1 td, .container1 th {
    border: 1px solid #ddd;
    padding: 2px 8px 8px 8px;
}

.container1 tr:nth-child(even){background-color: #f2f2f2;}


.container1 th {
    padding-top: 12px;
    padding-bottom: 12px;   
    text-align: left;
    background-color: #04AA6D;
    color: white;
} 
.logout{
         float: inline-end;
         background-color: #04AA6D;
         text-align: center;
         padding: 14px 16px;
         color: white;
         text-align: center;
       }   