.form{
	text-align: center;
}
.home{
	left: 10px;
}
.home a{
	color:green;
	text-decoration: none;
	padding: 10px;
	bottom: 50px;
	
}
.login{
	text-align: center;
}
.login a{
	text-decoration: none;
	padding: 10px;
}